body{
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-light) ;
    font-family: "Cairo", sans-serif;  
    height: 4000px;
    direction: rtl;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    outline: none;
}
a{
    text-decoration: none;
}
textarea{
    resize: none;
    overflow: auto;
    vertical-align:auto;
}
:root{
    --color-background: #212428;
    --color-primary:#ff014f ;
    --color-light: #878e99 ;
    --color-danger: ;
    --color-dark: ;
    --color-body: #c4cfde;
    --font-size: 18px ;
    --transition: all 0.3s ease-in-out ;
    --box-shadow-1: 10px 10px 19px #1c1e22 , -10px -10px 19px #262a2e ;
}


/* Framework */

.widget{
    padding-top: 100px ;
    padding-bottom: 138px;
    border-bottom: 1px solid #000000;
}
.inner{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    height: 100%;
    display: inline-block;
    z-index: 1;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
}
.title-section{
    text-align: center;
}
.subtitle{
    color: var(--color-primary);
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 10px;
}
.title-small{
    font-size: 60px;
    font-weight: 700;
    color: var(--color-body);
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: 1.5px;
}
.main-btn{
    font-size: 14px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
    position: relative;
    font-weight: 500;
    padding: 19px 35px;
    color: var(--color-primary);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-family: "Cairo", sans-serif;  
}


/* Framework */


/************************** Container area **********************************/
.container{
    margin: 0 auto;
}
@media( min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    .container{
        max-width: 960px;
    }
}
@media ( min-width: 768px ) and (max-width: 991px ){ 
    .container{
        max-width: 720px;
    }
}
@media(max-width: 767px){
    .container{
        max-width: 540px;
    }
}
/******************************** Container area ********************************/


/********************************************** Header Section ****************************************************/
header{
    display: block;
}
header .right{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 290px;
    padding: 50px 40px 40px;
    background-color: var(--color-background);
    border-right: 1px solid #121415;
    overflow-y: auto;
    overflow-x: hidden;
}

header .right img{
    border-radius: 50%;
    border: 5px solid #32363b ;
    max-width: 100%;
    height: auto;
    box-shadow: var(--box-shadow-1) ;
}
header .right .nav ul{
    width: 100%;
    display: block;
    padding: 30px 0 0 10px;
    margin: 0 0 0 0;
}
header .right .nav ul li{
    position: relative;  
    line-height: 1.5;  
}
header .right .nav ul li a{
    display: flex;
    align-items: center;
    color: #E4E6EA;
    width: 100%;
    font-size: 17px;
    margin: 19px 0;
    position: relative;
    /*font-family: Arial, Helvetica, sans-serif;*/
    transition: var(--transition);
}
header .right .nav ul li a svg{
    height: 20px;
    width: 20px;
    margin-left: 12px;
    position: relative;
}
header .right .nav ul li a:hover{
    color: var(--color-primary);
}
header .right .nav ul .active{
    color: var(--color-primary);
}

.footer .social-media{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px !important;
    padding-top: 20px;
}

.footer .social-media .title{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--color-body);
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 20px;
}
.footer .social-media .social-share{
    padding: 0;
    margin-right: -15px;
    margin-top: 15px;
    display: flex;
}
.footer .social-media li{
    display: inline-block;
    margin: 0 15px 15px 0;
    transition: var(--transition);
}
.footer .social-media .social-share  li a{
    width: 53px;
    height: 53px;
    line-height: 53px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    box-shadow: var(--box-shadow-1);
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    color: #f6f6f6;
    transition: var(--transition);
}

.footer .social-media .social-share li:hover{
    transform: translateY(-7px);
}
.footer .social-media .social-share li:hover a{
    color: var(--color-primary);
}
@media(max-width: 1199px){
    header{
        display: none;
    }
}
/********************************************** Header Section ****************************************************/
/********************************************** Header Mobile  ***************************************************/
.header-mobile{
    display: none;
}
@media( max-width: 1199px){
    .header-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
    }
    .header-mobile .open-menu i{
        font-size: 27px;
        color: var(--color-primary);
        cursor: pointer;
    }
}
    @media( max-width: 767px) {
        .header-mobile .logo-mobile img{
            max-height: 54px;
        }
    }
/********************************************** Header Mobile  ***************************************************/
/********************************************** Menu Mobile ******************************************************/
.menu-mobile{
    display: none;
}
@media(max-width: 1199px){
    .menu-mobile{
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
    }
    .menu-mobile .inner-mobile{
        padding: 25px 40px;
        width: 375px;
        z-index: 999;
        position: absolute;
        background-color: #191b1e;
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 0 rgb(0 , 0 , 0 , 70%);
    }
    .menu-mobile .inner-mobile .menu-top .menu-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-mobile .inner-mobile .menu-top .menu-header i{
        color: var(--color-primary);
        width: 40px;
        height: 40px;
        background: #222529;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .menu-mobile .inner-mobile .menu-top .description{
        margin-top: 20px;
        padding-right: 0;
        line-height:29px;
    }
    .menu-top{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 5px;
    }
    .menu-mobile .inner-mobile .content-mobile{
        display: flex;
        flex-direction: column;
    }
    .menu-mobile .inner-mobile .content-mobile ul{
        margin-top: 20px;
        padding-left: 0;
    }
    .menu-mobile .inner-mobile .content-mobile ul li{
        margin: 8px 0;
        display: block;
        line-height: 1.9;
    }
    .menu-mobile .inner-mobile ul li a{
        color: var(--color-light);
        text-transform: uppercase;
        font-size: 18px;
        color: #c4cfde ;
        font-weight: 500;
        transition:var(--transition);
    }
    .menu-mobile .inner-mobile ul li a:hover{
        color: var(--color-primary);
    }
    .menu-mobile .inner-mobile ul .active{
        color: var(--color-primary);
    }
    .menu-mobile .inner-mobile ul li a svg{
        height: 20px;
        width: 20px;
        margin-left: 12px;
        position: relative;
    }
    .menu-mobile .inner-mobile .footer .social-media{
        margin-top: 90px !important;
    }
    .menu-mobile .inner-mobile .footer ul{
        margin: 4px 0 0 0;
    }
    .menu-mobile .inner-mobile .footer .social-share li a{
        background-color: #000;
        box-shadow: none;
    }
}
/********************************************** Menu Mobile ******************************************************/
main{
    margin-right: 290px;
}
@media(max-width: 1199px){
    main{
        margin-right: 0;
    }
}
/*********************************************** Info Setion ****************************************************/
main .info{
    position: relative;
}
main .banner-inner{
    max-width: 100%;
    margin:  auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    padding-bottom: 138px;
    border-bottom: 1px solid #000000;
}
main .personal-img img{ 
    width: 340px ;
    border-radius: 50%;
    padding: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
main h1{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
main .info .banner-inner span{
    display: inline-block;
    font-size: 30px;
}
main span .span-one{
    color:var(--color-light);
}
main span .span-two{
    color: var(--color-primary);
}
main .info .button-area a{
    display: inline-block;
    border: 0;
    margin-top: 30px;
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: var(--box-shadow-1);
    position: relative;
    border-radius: 6px;
    font-size: 20px;
    z-index: 2;
    color: var(--color-primary);
    padding: 20px 50px;
    transition: var(--transition);
}
main .info .button-area a:hover{
    transform: translateY(-7px);
}
/*********************************************** Info Setion ****************************************************/
/*********************************************** Demo Section **************************************************/
.demo-option{
    position: fixed;
    width: 40px;
    left: 0;
    top: calc(50% - 55px);
    z-index: 99;
}
.demo-option .demo-button{
    border-radius: 6px 0 0 6px;
    background: linear-gradient(145deg , #1e2024, #23272b);
    box-shadow: var(--box-shadow-1);
    outline: none;
    position: relative;
    z-index: 2;
    font-size: 14px;
    border: none;
    width: 100%;
    padding: 19px 0  19px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.demo-option .demo-button span{
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}
/*********************************************** Demo Section **************************************************/
/************************************************* Features Section **********************************/
.service{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 48px;
}
.service .inner{
    text-align: right;
    padding: 35px 50px 70px 50px;
    border-radius: 10px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.service .inner .icon{
    margin-bottom: 29px;
}
.service .inner .icon svg{
    width: 50px;
    height: auto;
    color: var(--color-primary);
}
.service .inner .content h4 a{
    font-size: 24px;
    color: var(--color-primary);
    line-height: 32px;
    margin-bottom: 20px;
    color: #c4cfde ;
}
.service .inner .content .description{
    font-size: 16px;
    line-height: 28px;
    color: var(--color-body);
    margin-bottom: 22px;
}
.service .inner .content .read-more{
    position: relative;
    color: rgb(80, 226, 43);
    display: none;
}
.service .inner:hover .read-more{
    display: block;
}
@media(max-width: 1199px){
    .service{
        grid-template-columns: repeat( 2 , 1fr);
    }
}
@media(max-width:767px){
    .service{
        grid-template-columns: repeat( 1 , 1fr) ;
    }
}
/************************************************* Features Section **********************************/
/************************************************* Portfolio Section *********************************/
.Portfolio .projectes{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 48px;
}
.Portfolio .projectes .inner{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    height: 100%;
    display: inline-block;
    z-index: 1;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
}
.Portfolio .projectes .thumbnail a img{
    width: 100%;
}
.content .category-info{
    display: flex;
    justify-content: space-between;
}
.inner .content .category-info .category-list{
    color: var(--color-primary);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.inner .content .category-info .meta span{
    color: #DDD;
    font-size: 13px;
}
.content .category-info .meta span i{
    margin-right: 2px;
    cursor: pointer;
}
.category-info .meta i:hover{
    color: var(--color-primary);
}
.content{
    padding-top: 18px;
}
.content h4{
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    color: #DDD;
    margin-bottom: 0;
   /* font-family: Rubik; */
}
@media(max-width: 1199px){
    .Portfolio .projectes{
        grid-template-columns: repeat( 2 , 1fr);
    }
}
@media(max-width:767px){
    .Portfolio .projectes{
        grid-template-columns: repeat( 1 , 1fr) ;
    }
}
/************************************************* Portfolio Section *********************************/
/**************************************** Stats Section *****************************************/
.stats h2 {
    margin: 0 auto 90px;
    position: relative;
  }
  .stats .stats-area {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 48px;
  }
  .stats .box {
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
    padding: 30px 15px;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 1;
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
    transition: var(--main-transition);
  }
  .stats .box::before,
  .stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--color-primary);
    transition: 1s;
    height: 0;
  }
  .stats .box::before {
    top: 0;
    right: 0;
  }
  .stats .box::after {
    left: 0;
    bottom: 0;
  }
  .stats .box:hover {
    opacity: 1;
    color: var(--color-body);
  }
  .stats .box:hover::before,
  .stats .box:hover::after {
    height: 100%;
  }
  .stats .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stats .box .text {
    color: var(--color-light);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }
  @media(max-width: 991px){
     .stats .stats-area{
        grid-template-columns: repeat( 2 , 1fr);
    }
}
@media(max-width:767px){
    .stats .stats-area{
        grid-template-columns: repeat( 1 , 1fr) ;
    }
}
/**************************************** Stats Section **********************************************/
/************************************************* My Resume Section *********************************/
.resume .personal-experience{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    gap: 25px;
    margin-top: 40px !important;
    margin-left: 10px;
    margin-right: 10px;
}
.resume .personal-experience .content h4{
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--color-body);
}
.resume .personal-experience .content .experience-list{
    padding-left: 31px;
    border-left: 5px solid #17191c;
}
.resume .personal-experience .content .experience-list .resume-single-list{
    position: relative;
    z-index: 2;
    margin-top: 50px;
    padding: 25px 40px;
    border-radius: 6px;
    background: var(--color-background);
    box-shadow: var(--box-shadow-1);
    transition: var(--transition);
}
.resume .personal-experience .experience-list .resume-single-list:before{
    position: absolute;
    content: "";
    width: 28px;
    height: 5px;
    right: 100%;
    top: 63px;
    transform: translateY(-7px);
    background: #1b1c1d;
    z-index: 0;
}
.resume .personal-experience .resume-single-list .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1a1d23;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.resume .resume-single-list .heading .top-title{
    margin-bottom: 15px;
}
.resume .resume-single-list .heading .top-title h4{
    color: var(--color-body);
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 7px;
    font-weight: 500;
    transition: var(--transition);
}
.resume .resume-single-list .heading .top-title span{
    color: #7c838e;
    display: block;
    font-size: 14px;
}
.resume .resume-single-list .heading .date-of-time span{
    color: var(--color-primary);
    display: block;
    font-size: 14px;
    padding: 0 24px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    background: var(--color-background);
    box-shadow: var(--box-shadow-1);
    transition: var(--transition);
    font-weight: 500;
}
.resume .resume-single-list .description{
    color: var(--color-light);
    font-size: 18px;
    line-height: 28px;
    transition: var(--transition);
}
.resume .personal-experience .experience-list .resume-single-list::after{
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border: 5px solid #17191c;
    border-radius: 100%;
    right: 104%;
    top: 55px;
    transform: translateY(-7px);
    background: #184074;
    transition: var(--transition);
}
@media(max-width:991px){
    .resume .personal-experience{
        grid-template-columns: repeat( 1 , 1fr);
    }    
}
@media(max-width:767px){
    .resume .personal-experience .resume-single-list .heading{
        display: block;
    }
    .resume .resume-single-list .heading .date-of-time span{
        width: 108px;
        text-align: center;
    }
}
/************************************************* My Resume Section *********************************/
/************************************************* Skills Section ************************************/
.skills{
    padding-bottom: 30px ;
}
.skill{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    margin-top: 60px;
}
.skill svg{
    width: 100px;
    height: 100px;
    margin: 0 auto 76px auto;
}

@media(max-width: 1199px){
    .skill{
        grid-template-columns: repeat( 4 , 1fr);
    }
}
@media(max-width:767px){
    .skill{
        grid-template-columns: repeat( 3 , 1fr) ;
        
    }
}
@media(max-width:620px){
    .skill{
        grid-template-columns: repeat( 2, 1fr) ;
    }
}
/************************************************* Skills Section ************************************/
/************************************************* Blogs Section ************************************/
.blogs .blog{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 48px;
}
.blogs .blog .inner{
    position: relative;
    padding: 30px;
    border-radius: 20px;
    height: 100%;
    display: inline-block;
    z-index: 1;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
}
.blogs .blog .inner a img{
    width: 100%;
}
.blogs .blog .inner .title h4{
    cursor: pointer;
    transition: all 0.6s ease;
}
.blogs .blog .inner .title:hover h4{
    color: var(--color-primary);
}
.blogs .blog .thumbnail img{
    cursor: pointer;
    transition: all 0.6s ease;
}
.blogs .blog .thumbnail:hover img{
    transform: scale(1.1);
}
@media(max-width: 1199px){
    .blogs .blog{
        grid-template-columns: repeat( 2 , 1fr);
    }
}
@media(max-width:767px){
    .blogs .blog{
        grid-template-columns: repeat( 1 , 1fr) ;
    }
}
/************************************************* Blogs Section ************************************/
/************************************************* Model Section ***********************************/
.model{
    position: relative;
    display: none;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: var(--color-background);
     z-index: 9999;
     overflow-y: auto;
 }
 .model-show{
     margin: 90px auto;
 }
 .model-content{
     background-color: linear-gradient(145deg, #1e2024, #23272b);
     box-shadow: var(--box-shadow-1);
     padding: 50px;
     border: none;
     z-index: 1;
 }
 .model-body{
     position: relative;
 }
 .model .model-content img{
     width: 100%;
     margin-bottom: 40px;
     margin-right: auto ;
     margin-left: auto ;
     border-radius: 10px;
 }
 .model .model-content .model-body .close-btn{
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     top: -48px;
     right: -48px;
     border-radius: 50%;
     line-height: 48px;
     cursor: pointer;
     height: 48px;
     width: 48px;
     color: #DDD;
     background: crimson;
     border: none;
 }
 .model .model-content .model-details span{
     display: block;
     font-size: 14px;
     line-height: 24px;
     color: var(--color-body);
     font-weight: 500;
     margin-bottom: 9px;
 }
 .model .model-content .model-details h2{
     font-size: 32px;
     font-weight: 700;
     line-height: 1.2;
     color: var(--color-body);
     margin-top: 20px;
     margin-bottom: 40px;
 }
 .model .model-content .model-details p{
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
     color: var(--color-light);
     margin-top: 20px;
     margin-bottom: 40px;
 }
 .model .model-content .model-details h4{
     font-size: 30px;
     font-weight: 700;
     line-height: 1.25;
     color: var(--color-body);
     margin-bottom: 20px;
 }
 .model .model-content .comment-inner h3{
     font-size: 32px;
     font-weight: 600;
     color: var(--color-body);
 }
 input::placeholder{
     color: var(--color-body);
     padding-left: 15px;
 }
 textarea::placeholder{
     color: var(--color-body);
     padding-left: 2px;
 }
 .comment-inner .form{
     display: grid;
     grid-template-columns: repeat( 2 , 1fr);
     gap: 20px;
 }
 .comment-inner .form input{
     margin-bottom: 15px;
 }
 .comment-inner .form .contact-SUBJECT textarea{
     height: 94%;
     width: 100%;
     background-color: #191b1e;
     border-radius: 6px;
     border: 2px solid #191b1e;
     padding: 15px 15px;
     font-size: 14px;
     line-height: 18px;
     color: var(--color-lightn);
     box-shadow: var(--box-shadow-1);
     letter-spacing: 1px;
 }
 .comment-inner .form .contact-SUBJECT textarea:focus{
     border: 5px solid var(--color-primary);
 }
 .btn-sucess{
     font-size: 14px;
     background-color: var(--color-background);
     box-shadow: var(--box-shadow-1);
     display: inline-block;
     position: relative;
     font-weight: 500;
     padding: 19px 35px;
     color: var(--color-primary);
     width: 50%;
     margin-top: -21px;
     border: none;
     cursor: pointer;
     border-radius: 12px;
 }
 .btn-sucess span{
     color: var(--color-primary);
 }
 
 @media(max-width: 991px){
     .comment-inner .form{
         grid-template-columns: repeat( 1 , 1fr) ;
         gap: 0;
     }
     .btn-sucess{
         margin-top: 10px;
     }
 }
 /************************************************ Model Section ************************************/
/************************************************* Price  Section ***********************************/
.prices{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 60px;
    direction: ltr;
}
.pricing-table{
    background-color:#212428;
    box-shadow: var(--box-shadow-1);
	margin:15px auto;
	max-width:300px;
	border-radius:0px 10px 0px 10px;
	overflow:hidden;
	position:relative;
	min-height:250px;
	transition:all 0.25s ease-in-out;
}
.pricing-table:hover{
	transform:scale(1.1,1.1);
	cursor:pointer;
}
.pricing-table.basic .price{
	background-color:#28b6f6;
	color:#FFF;
}
.pricing-table.premium .price{
	background-color:#ff9f00;
	color:#FFF;
}
.pricing-table.business .price{
	background-color:#c3185c;
	color:#FFF;
}
.pricing-table .pricing-table-header{
	color:#FFF;
	padding:20px 0px 0px 20px;
	position:absolute;
	z-index:5;
}
.pricing-table .pricing-table-header::before{
	content:"";
	position:absolute;
	left:-50px;
	right:-180px;
	height:125px;
	top:-50px;
	background-color:#212121;
	z-index:-1;
	transform:rotate(338deg)
}
.pricing-table .price{
	position:absolute;
	top:0px;
	text-align:right;
	padding:110px 20px 0px 0px;
	right:0px;
	left:0px;
	font-size:20px;
	z-index:4;
}
.pricing-table .price::before{
	content:"";
	position:absolute;
	left:0px;
	right:0px;
	height:100px;
	bottom:-25px;
	background-color:inherit;
	transform:skewY(10deg);
	z-index:-1;
	box-shadow:0px 5px 0px 5px rgba(0,0,0,0.05);
}
.pricing-table .pricing-body{
	padding-top:200px;	
}
.pricing-table .pricing-table-ul{
    direction: rtl;
}
.pricing-table .pricing-table-ul li{
	color:#ddd;
	font-size: var(--font-size);
	padding:10px 0 10px 30px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.pricing-table .pricing-table-ul .fa{
	margin-left:10px;
}
.pricing-table .main-btn{
    display: flex;
    margin: 40px auto 40px auto;
    font-weight: 700;
    letter-spacing: 1px;
}
@media(max-width: 991px){
    .prices{
        grid-template-columns: repeat( 2 , 1fr);
    }
}
@media(max-width:767px){
    .prices{
        grid-template-columns: repeat( 1 , 1fr) ;
    }
}
/******************************************* Contact Section *********************************************/
.contact-area{
    display: grid;
    grid-template-columns: 43% 55%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 30px;
}
.contact-area .contact-about{
    padding: 30px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-1);
    height: 100%;
    border-radius: 10px;
}
.contact-area .contact-about .thumbnail{
    margin-bottom: 28px;
    overflow: hidden;
    border-radius: 10px;
}
.contact-area .thumbnail img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.contact-area .title-area h4{
    font-size: 29px;
    line-height: 44px;
    margin-bottom: 9px;
    color: #fff;
}
.contact-area .title-description{
    margin-bottom: 39px;
}
.contact-area .title-description p{
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 20px;
    color: #878e99;
   /* font-family: cursive; */
}
.contact-area .title-description span{
    display: block;
}
.contact-area .title-description span a{
    font-weight: 400;
    color: #ddd;
}
.contact-area .social-area{
    margin-bottom: 40px;
}
.contact-area .social-area .name{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}
.contact-area .social-area .social-icon{
    margin-top: 24px;
}
.contact-area .social-area .social-icon a{
    width: 61px;
    height: 61px;
    line-height: 57px;
    margin-right: 15px;
    box-shadow: var(--box-shadow-1);
    background-color: var(--color-background);
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    color: #ddd;
    transition: var(--transition);
}
.contact-area .social-area .social-icon a:hover{
    transform: translateY(-7px);
    color: var(--color-primary);
}
.contact-area .contact-form{
    box-shadow: var(--box-shadow-1);
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
    height: 100%;
}
.contact-area .contact-form .from-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
label{
    font-size: 12px;
    color: #a0a8b3;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: right;
    display: block;
}
input{
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    border: 2px solid #191b1e;
    font-size: 14px;
    color: var(--color-body);
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    letter-spacing: 1px;
    width: 100%;
}
.contact .contact-area textarea{
    min-height: 235px;
    width: 100%;
    background-color: #191b1e;
    border-radius: 6px;
    padding: 0;
    border: 2px solid #191b1e;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-body);
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    letter-spacing: 1px;
}
input:focus{
    border: 5px solid var(--color-primary)
 }
 .contact .contact-area textarea:focus{
    border: 5px solid var(--color-primary)
 }
.contact .contact-form .from-group ,
.contact .contact-form .contact-EMAIL ,
.contact .contact-form .contact-SUBJECT{
    margin-bottom: 30px;
}
.contact .main-btn{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 29px;

}
@media(max-width: 991px){
    .contact-area{
        grid-template-columns: repeat( 1 , 1fr) ;
    }
}
/******************************************* Contact Us *******************************************************/
/******************************************* Copyrights *******************************************************/
.copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
.copyrights .logo{
    text-align: center !important;
}
.copyrights p{
    font-size: 17px;
    color: var(--color-body);
   /* font-family: var(--font-primary);*/
}
/**************************************** Copyrights **********************************************************/
/**************************************** Scroll-top Section *************************************************/
.scroll-top{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 35px;
    background: var(--color-primary);
    border-radius: 50px;
    cursor: pointer;
    z-index: 999;
}
/**************************************** Scroll-top Section *************************************************/
















